.App {
  text-align: center;
  height: 50%;
}

.img-wrapper {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}

.image {
  object-fit: contain;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.label {
  background-color: blue;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-top: 1rem;
}

.A-button {
    border: none;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    background-color: transparent;
    
    margin: 0 35px 0 35px;
    cursor: crosshair;
} 


.R-button {
  border: none;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    background-color: transparent;
    color: blue;
    margin: 0 35px 0 35px;
}

h1, h2 {
  color: #045256;
}
